<header class="">
  <nav class="nav flex-column align-items-end">
    {% assign html_pages = site.html_pages %}

    {% for header_path in site.header.pages %}

    {% assign p = site.html_pages | where: "path", header_path | first %}

    {% if p.title %}
    {% if page.title == p.title %}
    {% assign active = true %}
    {% else %}
    {% assign active = false %}
    {% endif %}

    <a class="nav-link text-nowrap {% if active %}active font-weight-bold{% endif %}"
       href="{{ p.url | relative_path }}"
       >
      {% if active and p.icon %}{{ p.icon }}{% endif %}
      {{ p.title | escape }}
    </a>
    {% endif %}

    {% endfor %}
  </nav>
</header>
