.section {
  min-height: 100%;
}

.section__bar {
  text-align: center;
}

.section__bar-title {
  position: sticky;
  top: 1rem;
}

.section__bar-link {
  position: sticky;
  top: 4rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1rem;
}

.section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 5em;
  }

  h3 {
    font-size: 3.5em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  td {
    text-align: center;
  }
}
